- page_title "部署密钥"

%h3.page-title.deploy-keys-title
  公开的部署密钥 (#{@deploy_keys.count})
  .float-right
    = link_to '新建部署密钥', new_admin_deploy_key_path, class: 'btn btn-new btn-sm btn-inverted'

- if @deploy_keys.any?
  .table-holder.deploy-keys-list
    %table.table
      %thead
        %tr
          %th.col-sm-2 标题
          %th.col-sm-4 指纹
          %th.col-sm-2 具有写权限的项目
          %th.col-sm-2 创建时间
          %th.col-sm-2
      %tbody
        - @deploy_keys.each do |deploy_key|
          %tr
            %td
              %strong= deploy_key.title
            %td
              %code.key-fingerprint= deploy_key.fingerprint
            %td
              - deploy_key.projects_with_write_access.each do |project|
                = link_to project.full_name, admin_project_path(project), class: 'label deploy-project-label'
            %td
              %span.cgray
                创建于 #{time_ago_with_tooltip(deploy_key.created_at)}
            %td
              .float-right
                = link_to '编辑', edit_admin_deploy_key_path(deploy_key), class: 'btn btn-sm'
                = link_to '删除', admin_deploy_key_path(deploy_key), data: { confirm: '确定要删除该部署密钥？'}, method: :delete, class: 'btn btn-sm btn-remove delete-key'
