%main{ :role => "main" }
  .modal-no-backdrop.modal-doorkeepr-auth
    .modal-content
      .modal-header
        %h3.page-title
          授权
          = link_to @pre_auth.client.name, @pre_auth.redirect_uri, target: '_blank', rel: 'noopener noreferrer'
          使用你的账号？

      .modal-body
        - if current_user.admin?
          .text-warning
            %p
              = icon("exclamation-triangle fw")
              您是管理员，这意味着
              %strong= @pre_auth.client.name
              也一样能以 GitLab 管理员身份进行操作。请谨慎操作。
        %p
          一个名为
          = link_to @pre_auth.client.name, @pre_auth.redirect_uri, target: '_blank', rel: 'noopener noreferrer'
          的应用请求访问您的Gitlab账号。

          - auth_app_owner = @pre_auth.client.application.owner
          - if auth_app_owner
            这个应用的创建者为
            = succeed "." do
              = link_to auth_app_owner.name, user_path(auth_app_owner)

          请注意这个应用并不是由 GitLab 提供的，请您在允许其访问前对其有效性
          进行验证。
        - if @pre_auth.scopes
          %p
            此应用将用于:
            %ul
              - @pre_auth.scopes.each do |scope|
                %li
                  %strong= t scope, scope: [:doorkeeper, :scopes]
                  .text-secondary= t scope, scope: [:doorkeeper, :scope_desc]
        .form-actions.text-right
          = form_tag oauth_authorization_path, method: :delete, class: 'inline'  do
            = hidden_field_tag :client_id, @pre_auth.client.uid
            = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
            = hidden_field_tag :state, @pre_auth.state
            = hidden_field_tag :response_type, @pre_auth.response_type
            = hidden_field_tag :scope, @pre_auth.scope
            = hidden_field_tag :nonce, @pre_auth.nonce
            = submit_tag "拒绝", class: "btn btn-danger"
          = form_tag oauth_authorization_path, method: :post, class: 'inline' do
            = hidden_field_tag :client_id, @pre_auth.client.uid
            = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
            = hidden_field_tag :state, @pre_auth.state
            = hidden_field_tag :response_type, @pre_auth.response_type
            = hidden_field_tag :scope, @pre_auth.scope
            = hidden_field_tag :nonce, @pre_auth.nonce
            = submit_tag "授权", class: "btn btn-success prepend-left-10"
