= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :help_page_text, class: 'label-light'
      = f.text_area :help_page_text, class: 'form-control', rows: 4
      .form-text.text-muted 允许使用 Markdown 格式
    .form-group
      .form-check
        = f.check_box :help_page_hide_commercial_content, class: 'form-check-input'
        = f.label :help_page_hide_commercial_content, class: 'form-check-label' do
          从帮助中隐藏营销相关的条目
    .form-group
      = f.label :help_page_support_url, 'Support page URL', class: 'label-light'
      = f.text_field :help_page_support_url, class: 'form-control', placeholder: 'http://company.example.com/getting-help', :'aria-describedby' => 'support_help_block'
      %span.form-text.text-muted#support_help_block 替代支持页面 URL

  = f.submit '保存修改', class: "btn btn-success"
