= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :throttle_unauthenticated_enabled, class: 'form-check-input'
        = f.label :throttle_unauthenticated_enabled, class: 'form-check-label' do
          启用未认证的请求速率限制
        %span.form-text.text-muted
          可以帮助降低请求量（比如来自爬虫或者恶意机器人）
    .form-group
      = f.label :throttle_unauthenticated_requests_per_period, '每个 IP 每段时间的最大请求数量', class: 'label-light'
      = f.number_field :throttle_unauthenticated_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_unauthenticated_period_in_seconds, '时间区间（秒）', class: 'label-light'
      = f.number_field :throttle_unauthenticated_period_in_seconds, class: 'form-control'
    .form-group
      .form-check
        = f.check_box :throttle_authenticated_api_enabled, class: 'form-check-input'
        = f.label :throttle_authenticated_api_enabled, class: 'form-check-label' do
          启用已认证的 API 请求速率限制
        %span.form-text.text-muted
          可以帮助降低请求量（比如来自爬虫或者恶意机器人）
    .form-group
      = f.label :throttle_authenticated_api_requests_per_period, '每个用户每段时间内最大请求数量', class: 'label-light'
      = f.number_field :throttle_authenticated_api_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_authenticated_api_period_in_seconds, '请求周期限制（秒）', class: 'label-light'
      = f.number_field :throttle_authenticated_api_period_in_seconds, class: 'form-control'
    .form-group
      .form-check
        = f.check_box :throttle_authenticated_web_enabled, class: 'form-check-input'
        = f.label :throttle_authenticated_web_enabled, class: 'form-check-label' do
          启用已认证的 Web 请求速率限制
        %span.form-text.text-muted
          可以帮助降低请求量（比如来自爬虫或者恶意机器人）
    .form-group
      = f.label :throttle_authenticated_web_requests_per_period, '每个用户每段时间内最大请求数量', class: 'label-light'
      = f.number_field :throttle_authenticated_web_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_authenticated_web_period_in_seconds, '请求周期限制（秒）', class: 'label-light'
      = f.number_field :throttle_authenticated_web_period_in_seconds, class: 'form-control'

  = f.submit '保存修改', class: "btn btn-success"
