= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :default_branch_protection, '默认保护分支', class: 'label-light'
      = f.select :default_branch_protection, options_for_select(Gitlab::Access.protection_options, @application_setting.default_branch_protection), {}, class: 'form-control'
    .form-group.visibility-level-setting
      = f.label :default_project_visibility, '默认项目可见度', class: 'label-light'
      = render('shared/visibility_radios', model_method: :default_project_visibility, form: f, selected_level: @application_setting.default_project_visibility, form_model: Project.new)
    .form-group.visibility-level-setting
      = f.label :default_snippet_visibility, '默认代码片段可见度', class: 'label-light'
      = render('shared/visibility_radios', model_method: :default_snippet_visibility, form: f, selected_level: @application_setting.default_snippet_visibility, form_model: ProjectSnippet.new)
    .form-group.visibility-level-setting
      = f.label :default_group_visibility, '默认群组可见度', class: 'label-light'
      = render('shared/visibility_radios', model_method: :default_group_visibility, form: f, selected_level: @application_setting.default_group_visibility, form_model: Group.new)
    .form-group
      = f.label :restricted_visibility_levels, '可见度限制', class: 'label-light'
      - checkbox_name = 'application_setting[restricted_visibility_levels][]'
      = hidden_field_tag(checkbox_name)
      - restricted_level_checkboxes('restricted-visibility-help', checkbox_name, class: 'form-check-input').each do |level|
        .form-check
          = level
      %span.form-text.text-muted#restricted-visibility-help
        选择的等级将无法用于非管理用户的项目和代码片段。
        如果公开等级被限制，用户个人资料只对已登录用户可见。
    .form-group
      = f.label :import_sources, '导入来源', class: 'label-light'
      = hidden_field_tag 'application_setting[import_sources][]'
      - import_sources_checkboxes('import-sources-help', class: 'form-check-input').each do |source|
        .form-check= source
      %span.form-text.text-muted#import-sources-help
        Enabled sources for code import during project creation. OmniAuth must be configured for GitHub
        = link_to "(?)", help_page_path("integration/github")
        , Bitbucket
        = link_to "(?)", help_page_path("integration/bitbucket")
        and GitLab.com
        = link_to "(?)", help_page_path("integration/gitlab")

    .form-group
      .form-check
        = f.check_box :project_export_enabled, class: 'form-check-input'
        = f.label :project_export_enabled, class: 'form-check-label' do
          启用项目导出

    .form-group
      %label.label-light Enabled Git access protocols
      = select(:application_setting, :enabled_git_access_protocol, [['Both SSH and HTTP(S)', nil], ['Only SSH', 'ssh'], ['Only HTTP(S)', 'http']], {}, class: 'form-control')
      %span.form-text.text-muted#clone-protocol-help
        仅允许通过所选协议进行Git访问。

    - ApplicationSetting::SUPPORTED_KEY_TYPES.each do |type|
      - field_name = :"#{type}_key_restriction"
      .form-group
        = f.label field_name, "#{type.upcase} SSH 密钥", class: 'label-light'
        = f.select field_name, key_restriction_options_for_select(type), {}, class: 'form-control'

  = f.submit '保存修改', class: "btn btn-success"
