- expanded = Rails.env.test?
%section.settings.no-animate#js-push-remote-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      推送到远程版本库
    %button.btn.js-settings-toggle
      = expanded ? '折叠' : '展开'
    %p
      设置一个当推送到版本库时需要同步更新的远程版本库。
      = link_to '了解更多', help_page_path('workflow/repository_mirroring', anchor: 'pushing-to-a-remote-repository'), target: '_blank'
  .settings-content
    = form_for @project, url: project_mirror_path(@project) do |f|
      %div
        = form_errors(@project)
      = render "shared/remote_mirror_update_button", remote_mirror: @remote_mirror
      - if @remote_mirror.last_error.present?
        .panel.panel-danger
          .panel-heading
            - if @remote_mirror.last_update_at
              远程版本库更新失败于 #{time_ago_with_tooltip(@remote_mirror.last_update_at)} 。
            - else
              远程版本库更新失败。

            - if @remote_mirror.last_successful_update_at
              最新成功更新于 #{time_ago_with_tooltip(@remote_mirror.last_successful_update_at)} 。
          .panel-body
            %pre
              :preserve
                #{h(@remote_mirror.last_error.strip)}
      = f.fields_for :remote_mirrors, @remote_mirror do |rm_form|
        .form-group
          = rm_form.check_box :enabled, class: "float-left"
          .prepend-left-20
            = rm_form.label :enabled, "远程镜像版本库", class: "label-light append-bottom-0"
            %p.light.append-bottom-0
              当推送到版本库时，自动更新远程镜像的分支、标签和提交。
        .form-group.has-feedback
          = rm_form.label :url, "Git 版本库 URL", class: "label-light"
          = rm_form.text_field :url, class: "form-control", placeholder: 'https://username:password@gitlab.company.com/group/project.git'

          = render "projects/mirrors/instructions"

        .form-group
          = rm_form.check_box :only_protected_branches, class: 'float-left'
          .prepend-left-20
            = rm_form.label :only_protected_branches, "只同步保护分支", class: 'label-light'
            = link_to icon('question-circle'), help_page_path('user/project/protected_branches')

        = f.submit '保存修改', class: 'btn btn-create', name: 'update_remote_mirror'
