- page_title "电子邮箱"
- @content_class = "limit-container-width" unless fluid_layout

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      管理您的账号连接的邮箱
  .col-lg-8
    %h4.prepend-top-0
      增加电子邮箱地址
    = form_for 'email', url: profile_emails_path do |f|
      .form-group
        = f.label :email, '电子邮箱', class: 'label-light'
        = f.text_field :email, class: 'form-control'
      .prepend-top-default
        = f.submit '增加电子邮箱地址', class: 'btn btn-create'
    %hr
    %h4.prepend-top-0
      已连接的电子邮箱 (#{@emails.count + 1})
    .account-well.append-bottom-default
      %ul
        %li
          你的主要邮箱将用于头像显示和在网站操作，比如：编辑和合并操作。
        %li
          你的通知邮箱将用于账号通知。
        %li
          你的公开邮箱将显示在公开的个人资料上。
        %li
          所有邮箱地址都将用于识别提交作者。
    %ul.content-list
      %li
        = render partial: 'shared/email_with_badge', locals: { email: @primary_email, verified: current_user.confirmed? }
        %span.float-right
          %span.badge.badge-success 主要邮箱
          - if @primary_email === current_user.public_email
            %span.badge.badge-info 公开邮箱
          - if @primary_email === current_user.notification_email
            %span.badge.badge-info 通知邮箱
      - @emails.each do |email|
        %li
          = render partial: 'shared/email_with_badge', locals: { email: email.email, verified: email.confirmed? }
          %span.float-right
            - if email.email === current_user.public_email
              %span.badge.badge-info 公开邮箱
            - if email.email === current_user.notification_email
              %span.badge.badge-info 通知邮箱
            - unless email.confirmed?
              - confirm_title = "#{email.confirmation_sent_at ? '重新发送' : '发送'} 确认邮件"
              = link_to confirm_title, resend_confirmation_instructions_profile_email_path(email), method: :put, class: 'btn btn-sm btn-warning prepend-left-10'

            = link_to profile_email_path(email), data: { confirm: '确定删除该邮箱？'}, method: :delete, class: 'btn btn-sm btn-danger prepend-left-10' do
              %span.sr-only 删除
              = icon('trash')
