- page_title "导入仓库"
%h3.page-title
  导入仓库

%hr

- if @project.import_failed?
  .card.bg-danger
    .card-header 版本仓库无法被导入。
    .card-body
      %pre
        :preserve
          #{h(sanitize_repo_path(@project, @project.import_error))}

= form_for @project, url: project_import_path(@project), method: :post do |f|
  = render "shared/import_form", f: f

  .form-actions
    = f.submit '开始导入', class: "btn btn-create", tabindex: 4
