= form_for [@group, @milestone], html: { class: 'milestone-form common-note-form js-quick-submit js-requires-input' }  do |f|
  .row
    = form_errors(@milestone)

    .col-md-6
      .form-group.row
        = f.label :title, "标题", class: "col-form-label col-sm-2"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control", required: true, autofocus: true
      .form-group.row.milestone-description
        = f.label :description, "描述", class: "col-form-label col-sm-2"
        .col-sm-10
          = render layout: 'projects/md_preview', locals: { url: group_preview_markdown_path } do
            = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: '撰写里程碑描述...', supports_autocomplete: false
            .clearfix
            .error-alert

    = render "shared/milestones/form_dates", f: f

  .form-actions
    - if @milestone.new_record?
      = f.submit '创建里程碑', class: "btn-create btn"
      = link_to "取消", group_milestones_path(@group), class: "btn btn-cancel"
    - else
      = f.submit '更新里程碑', class: "btn-create btn"
      = link_to "取消", group_milestone_path(@group, @milestone), class: "btn btn-cancel"

