.project-templates-buttons.import-buttons
  - Gitlab::ProjectTemplate.all.each do |template|
    .template-option
      = custom_icon(template.logo)
      .template-title= template.title
      .template-description= template.description
      %label.btn.btn-success.template-button.choose-template.append-right-10{ for: template.name }
        %input{ type: "radio",  autocomplete: "off", name: "project[template_name]", id: template.name, value: template.name }
        %span 使用模板
      %a.btn.btn-default{ href: template.preview, rel: 'noopener noreferrer', target: '_blank' } 预览

  .project-fields-form
    .row
      .form-group.col-sm-12
        %label.label-light
          模板
        .input-group.template-input-group
          .input-group-prepend
            .input-group-text
              .selected-icon
                - Gitlab::ProjectTemplate.all.each do |template|
                  = custom_icon(template.logo)
              .selected-template
          .input-group-append
            %button.btn.btn-default.change-template{ type: "button" } 更改模板

    = render 'new_project_fields', f: f, project_name_id: "template-project-name"
