= render 'shared/issuable/feed_buttons'

- if @can_bulk_update
  = button_tag "编辑问题", class: "btn btn-default append-right-10 js-bulk-update-toggle"
- if show_new_issue_link?(@project)
  = link_to "New issue", new_project_issue_path(@project,
                                                issue: { assignee_id: finder.assignee.try(:id),
                                                         milestone_id: finder.milestones.first.try(:id) }),
                                                class: "btn btn-new",
                                                title: "新建问题",
                                                id: "new_issue_link"
