%fieldset
  %legend 权限
  .form-group.row
    = f.label :projects_limit, "项目限制", class: 'col-form-label col-sm-2'
    .col-sm-10= f.number_field :projects_limit, min: 0, max: Gitlab::Database::MAX_INT_VALUE, class: 'form-control'

  .form-group.row
    = f.label :can_create_group, "可以创建群组",class: 'col-form-label col-sm-2'
    .col-sm-10= f.check_box :can_create_group

  .form-group.row
    = f.label :access_level, "权限级别", class: 'col-form-label col-sm-2'
    .col-sm-10
      - editing_current_user = (current_user == @user)

      = f.radio_button :access_level, :regular, disabled: editing_current_user
      = label_tag :regular, class: 'font-weight-bold' do
        普通用户
      %p.light
        普通用户可以访问他们的群组和项目

      = f.radio_button :access_level, :admin, disabled: editing_current_user
      = label_tag :admin, class: 'font-weight-bold' do
        管理员
      %p.light
        管理员可以访问所有组，项目和用户，并且可以管理此安装中的所有功能
      - if editing_current_user
        %p.light
          不能删除自己的管理权限。

  .form-group.row
    = f.label :external, class: 'col-form-label col-sm-2'
    .col-sm-10
      = f.check_box :external do
        外部
      %p.light
        除非明确授权，外部用户无法看到任何内部和私有项目。同样，外部用户无法创建项目和群组。
